<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= title %></title>
  <link href="/default.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1><%= title %></h1>
  <h2><%= now %></h2>
  <%= body %>
</body>
</html>